<div>
    <a class="uk-box-shadow-hover-small" href="{{ product.url | within: current_collection }}">
    <div class="uk-card uk-card-small">
        <div class="uk-card-media-top uk-flex uk-flex-center">
            <img class="uk-object-contain" src="{{product.featured_image | img_url: 'medium'}}" alt="">
        </div>
        <div class="uk-card-body uk-text-center">
            <div class="variants uk-flex uk-flex-center">
                {% comment %} 
                    TODO: Create a check to make sure these variant boxes only show up on bags and not apperal.
                    TODO: Fix hover for products
                    TODO: Remove legacy page layout
                {% endcomment %}
            {% for variant in product.variants %}
                {% if variant.available %}
                    {{ variant.title }}
                    <div style="width:15px; height: 15px" class="color-box {{ variant.title | replace: ' ', '-' | downcase }}"></div>
                {% endif %}
            {% endfor %}
            </div>
            <p><span class="uk-text-bold">{{ product.title }}</span><br>
            {{ product.price | money }}</p>
        </div>
    </div>
    </a>
</div>