{% render 'newsletter-form' %}
<footer class="site-footer small--text-center" role="contentinfo">
  <div class="social">
    <img src="{{ 'laxgear-footer-logo.png' | asset_url }}">


    {% if section.settings.social_enabled %}
      <div class="social_icons">
        <a
          href="{{ settings.social_instagram_link | escape }}"
          target="_blank"
          title="Instagram">
          <span class="fa-brands fa-instagram"></span>
        </a>
        <a
          href="{{ settings.social_facebook_link | escape }}"
          target="_blank"
          title="Facebook">
          <span class="fa-brands fa-facebook-f"></span>
        </a>
        <a
          href="{{ settings.social_twitter_link | escape }}"
          target="_blank"
          title="Twitter">
          <span class="fa-brands fa-twitter"></span>
        </a>
        <a
          href="{{ settings.social_email_link | escape }}"
          target="_blank"
          title="Email">
          <span class="fa-regular fa-envelope"></span>
        </a>
      {% endif %}

    </div>
  </div>

  <nav>
    <div>
      <h5>Company</h5>
      <ul>
        {% for link in linklists.footer-company.links -%}
          {%- comment %}<locksmith:5d57>{% endcomment -%}
            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists.footer-company, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
          {%- comment %}</locksmith:5d57>{% endcomment -%}
          <li>{{ link.title | link_to: link.url }}</li>
        {%- endfor %}
      </ul>
    </div>

    <div>
      <h5>Customer support</h5>
      <ul>
        {% for link in linklists.footer-customer-support.links -%}
          {%- comment %}<locksmith:6424>{% endcomment -%}
            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists.footer-customer-support, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
          {%- comment %}</locksmith:6424>{% endcomment -%}
          <li>{{ link.title | link_to: link.url }}</li>
        {%- endfor %}
      </ul>
    </div>

    <div>
      <h5>Services</h5>
      <ul>
        {% for link in linklists.footer-services.links -%}
          {%- comment %}<locksmith:aa6d>{% endcomment -%}
            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists.footer-services, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
          {%- comment %}</locksmith:aa6d>{% endcomment -%}
          <li>{{ link.title | link_to: link.url }}</li>
        {%- endfor %}
      </ul>
    </div>
  </nav>

  <div class="copyright">
    <span>&copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }}</div>
  </div>

</footer>


{% schema %}
  {
    "name": "Footer",
    "class": "footer-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "social_enabled",
        "label": "Show social media icons",
        "info": "Add accounts in Social media section"
      }, {
        "type": "link_list",
        "id": "legal_menu",
        "label": "Legal menu"
      }
    ],
    "max_blocks": 9,
    "blocks": [
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Quick links"
          }, {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          }, {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "16%",
            "options": [
              {
                "value": "16%",
                "label": "16%"
              },
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              }, {
                "value": "66%",
                "label": "66%"
              }, {
                "value": "75%",
                "label": "75%"
              }, {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      }, {
        "type": "text",
        "name": "Rich text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Get in touch"
          }, {
            "type": "richtext",
            "id": "richtext",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers.</p>"
          }, {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "16%",
                "label": "16%"
              },
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              }, {
                "value": "66%",
                "label": "66%"
              }, {
                "value": "75%",
                "label": "75%"
              }, {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      }, {
        "type": "newsletter",
        "name": "Newsletter signup",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Newsletter"
          }, {
            "type": "paragraph",
            "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
          }, {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "33%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              }, {
                "value": "75%",
                "label": "75%"
              }, {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}