{% if section.settings.show_announcement %}
  <div class="annoucement-bar">
    {% if section.settings.show_announcement %}
      {% if section.settings.announcement_link != blank %}
        <a href="{{ section.settings.announcement_link }}">
        {% endif %}
        <p>{{ section.settings.announcement_text | escape }}</p>
        {% if section.settings.announcement_link != blank %}
        </a>
      {% endif %}
    {% endif %}
  </div>
{% endif %}
<header id="header" class="uk-section">
  <span class="fa-solid fa-bars uk-hidden@s mobile-toggle" uk-toggle="target: #mobile-nav">{% if cart.item_count != 0 %}<span class="uk-badge">
{{ cart.item_count }}</span>{% endif %}</span>

  <div id="mobile-nav" uk-offcanvas="overlay: true; flip: true">
    <div class="uk-offcanvas-bar">
      <button
        class="uk-offcanvas-close"
        type="button"
        uk-close></button>

        <div class="uk-margin-medium-top uk-margin-small-bottom">
          <form class="uk-search uk-search-default" action="/search"
          method="get">
              <button type="submit"  class="uk-search-icon-flip" uk-search-icon></button>

          <input
          type="hidden"
          name="type"
          value="product">
          <input class="uk-search-input"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="q"
          value="{{ search.terms | escape }}">
          </form>
      </div>
      <ul class="uk-nav-default uk-margin-top" uk-nav>
        <li>
          <a href="/cart">
          <div class="uk-width-expand" uk-leader>
          Cart
          <!-- {% if cart.item_count != 0 %}
              <span class="uk-badge">
                {{ cart.item_count }}
              </span>
          {% endif %} -->
          </div>
          {% if cart.item_count != 0 %}
              <div>
                {{ cart.total_price | money }}
              </div>
            {% endif %}
          </a>
        </li>
        <li class="uk-nav-divider"></li>
        {% for link in linklists.main-menu-2023.links %}
          <li>{{ link.title | link_to: link.url }}</li>
          <li class="uk-nav-divider"></li>
        {% endfor %}
        <li class="uk-parent">
          <a href="#">Company<span uk-nav-parent-icon></span>
          </a>
          <ul class="uk-nav-sub">
            {% for link in linklists.footer-company.links %}
              <li>{{ link.title | link_to: link.url }}</li>
              <li class="uk-nav-divider"></li>
            {% endfor %}
          </ul>
          <li class="uk-nav-divider"></li>
        </li>
        <li class="uk-parent">
          <a href="#">Customer support<span uk-nav-parent-icon></span>
          </a>
          <ul class="uk-nav-sub">
            {% for link in linklists.footer-customer-support.links %}
              <li>{{ link.title | link_to: link.url }}</li>
              <li class="uk-nav-divider"></li>
            {% endfor %}
          </ul>
        </li>
        <li class="uk-nav-divider"></li>
        <li class="uk-parent">
          <a href="#">Services<span uk-nav-parent-icon></span>
          </a>
          <ul class="uk-nav-sub">
            {% for link in linklists.footer-services.links %}
              <li>{{ link.title | link_to: link.url }}</li>
              <li class="uk-nav-divider"></li>
            {% endfor %}
          </ul>
        </li>
        <li class="uk-nav-divider"></li>
      </ul>


    </div>
  </div>
  <div class="logo">
    <a href="/"><img src="{{ 'laxgear-footer-logo.png' | asset_url }}"></a>
  </div>
  <nav class="uk-container uk-container-large">
    <div class="left-nav uk-width-1-2@l uk-width-auto uk-flex uk-flex-left">
      <ul>
        {% for link in linklists.main-menu-2023.links %}
          <li>{{ link.title | link_to: link.url }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="right-nav uk-width-1-2@l uk-width-auto uk-flex uk-flex-right">
      <ul>
        <li>
          {% render 'search-bar-2023' %}
        </li>
        <li>
          <a href="/cart">
            <span class="fa-solid fa-cart-shopping">
              <span class="uk-badge">
                {{ cart.item_count }}</span>
            </span>
          </a>
        </li>
        <li>
          {{ 'Join/Sign in' | customer_login_link }}
        </li>
      </ul>
    </div>
  </nav>
</header>



{% schema %}
  {
    "name": "Header",
    "class": "header-section",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Custom logo",
        "info": "400px wide .png recommended"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width",
        "default": "305"
      }, {
        "type": "header",
        "content": "Announcement bar"
      }, {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show announcement",
        "default": false
      }, {
        "type": "text",
        "id": "announcement_text",
        "label": "Announcement text",
        "default": "Announce something here"
      }, {
        "type": "url",
        "id": "announcement_link",
        "label": "Announcement link",
        "info": "Optional"
      }
    ]
  }
{% endschema %}