{%- if product.metafields.inventory.ShappifyHidden == 'true' -%}{%- break -%}{%- endif -%}
<section class="product-main uk-section">
  <div class="uk-container uk-container-large">
    {% include 'breadcrumb' %}
    <div class="uk-child-width-expand uk-grid-medium" uk-grid>
      <div>
        <h1 class="uk-heading-small">{{ product.title }}</h1>
        <div>{{ product.description }}</div>
        <ul uk-accordion>
          <li>
            <a
              class="uk-accordion-title"
              uk-toggle="target: .accordion-icon"
              href="#">Product Features
              <span class="accordion-icon" uk-icon="plus"></span>
              <span
                class="accordion-icon"
                hidden
                uk-icon="minus"></span>
            </a>
            <div class="uk-accordion-content">
              {{ product.metafields.bag_features.bag_features | metafield_tag }}
            </div>
          </li>
        </ul>
      </div>
      <div class="uk-width-1-3">
        <div
          class="uk-position-relative"
          id="image-slideshow"
          uk-slideshow="animation: fade; min-height: 450; max-height:500">
          <ul
            class="uk-slideshow-items"
            uk-lightbox="animation: slide"
            uk-height-large>
            <li>
              <a id="feature_image_link" href="{{ 'Spinner.gif' | asset_url }}">
                <img
                  class="uk-height-large uk-object-contain"
                  id="feature_image"
                  src="{{ 'Spinner.gif' | asset_url }}">
              </a>
            </li>
            {% for image in product.images %}
              <li>
                <a class="uk-height-large uk-display-block" href="{{ image | image_url }}">
                  <img class="uk-object-contain" src="{{ image | image_url }}">
                </a>
              </li>
            {% endfor %}
          </ul>
          <ul class="uk-thumbnav uk-margin-medium-top">
            <li uk-slideshow-item="0">
              <a href="#"><img
                  id="thumb_image"
                  src={{ 'Spinner.gif' | asset_url }}
                  "></a>
            </li>
            {% for thumbImage in product.images %}
              <li uk-slideshow-item="{{ forloop.index }}">
                <a href="#"><img src="{{ thumbImage | image_url }}"></a>
              </li>
            {% endfor %}
          </ul>
        </div>

      </div>
      <div>
        <p class="uk-margin-small-bottom">Color /
          <span id="variant_name">{{ product.selected_or_first_available_variant.title }}</span>
        </p>
        <br>
        <form
          method="post"
          action="/cart/add"
          enctype="multipart/form-data"
          id="addToCartForm-{{ section.id }}"
          class="uk-margin-medium-bottom">
          <div class="product-selector uk-margin-bottom">
            {% for variant in product.variants %}
              {% if variant.available %}
                <label
                  uk-tooltip="{{ variant.title }}"
                  class="{{ variant.title | replace: ' ', '-' | downcase }}"
                  for="{{ variant.title | replace: ' ', '-' | downcase }}_{{ variant.id }}">
                  <img src="{{ variant.image | image_url: width: 48 }}">
                  <input
                    type="radio"
                    id="{{ variant.title | replace: ' ', '-' | downcase }}_{{ variant.id }}"
                    name="id"
                    value="{{ variant.id }}"
                    class="chngRadio"
                    data-index="{{ forloop.index }}"
                    data-img="{{ variant.featured_media | image_url }}"
                    data-product="{{ product.title | replace: ' ', '-' | downcase}}"
                    data-variant_title="{{ variant.title }}">
                </label>
              {% else %}

                <label
                  uk-tooltip="{{ variant.title }} - Sold Out"
                  class="disabled {{ variant.title | replace: ' ', '-' | downcase }}"
                  for="{{ variant.title | replace: ' ', '-' | downcase }}_{{ variant.id }}">
                  <img src="{{ variant.image | image_url: width: 48 }}">
                  <input
                    type="radio"
                    id="{{ variant.title | replace: ' ', '-' | downcase }}_{{ variant.id }}"
                    name="id"
                    value="{{ variant.id }}"
                    class="disabled"
                    disabled
                    data-index="{{ forloop.index }}"
                    data-img="{{ variant.image | image_url }}"
                    data-product="{{ product.title | replace: ' ', '-' | downcase}}"
                    data-variant_title="{{ variant.title }}">
                </label>
              {% endif %}
            {% endfor %}
          </div>


          <label for="Quantity" class="quantity-selector uk-margin-small-bottom">Quantity</label>
          <div class="qtydiv uk-margin-medium-bottom">
            <button
              type="button"
              id="custom-icon-minus"
              class="js-qty__adjust--minus uk-button uk-button-default uk-button-small">
              <span uk-icon="icon: minus"></span>
            </button>

            <input
              type="text"
              id="Quantity"
              name="quantity"
              value="1"
              min="1"
              pattern="[0-9]*"
              class="quantity-selector quantity-input">

            <button
              type="button"
              id="custom-icon-plus"
              class="js-qty__adjust--plus uk-button uk-butotn-default uk-button-small">
              <span uk-icon="icon: plus"></span>
            </button>
          </div>
<ul uk-accordion>
    <li>
        <a class=" uk-margin-top uk-text-center uk-accordion-title uk-background-muted uk-padding-small" href="#"><span uk-icon="plus-circle" class="uk-padding-small uk-padding-remove-vertical uk-padding-remove-left"></span>Add Embroidery</a>
        <div class="uk-accordion-content">
        <p>Please Note: Personalized embroidery will add 5-7 business days to your order.</p>
        
        <div class="bold_options" data-product-id="{{ product.id }}"></div>
        </div>
    </li>
</ul>

            
          <hr>

          <h3 class="uk-text-bold bold_option_price_display">{{ product.price | money }}</h3>
          <button type="submit" class="uk-button uk-button-secondary uk-text-bold uk-width-1-1">
            <span uk-icon="cart" class="uk-padding-small uk-padding-remove-vertical uk-padding-remove-left"></span>
            Add to cart</button>
        </form>
        <hr>
      </div>
    </div>
  </div>
</section>

<script>
  // This function removes the wrapper and main-content class to let UIKit handle width of the page
  document.querySelectorAll('[role="main"]').forEach(function(el) {
    el.classList.remove('wrapper', 'main-content')
  })


// This function looks at the variant query string in URL and displays the correct variant and selects the correct variant option
  let params = (new URL(document.location)).searchParams;
  let variantID = params.get("variant")
  if (variantID) {
    let radios = document.querySelectorAll('.chngRadio');
    let value = variantID;

// value you want to compare radio with

// Loop through radios to find the correct variant
    for (let i = 0, length = radios.length; i < length; i++) {
      if (radios[i].value == value) {
        radios[i].checked = true;

// Select the correct variant selector
        document
          .querySelectorAll("label[for='" + radios[i].id + "']")[0]
          .classList
          .add("selected")

  // Swap feature image
          document
          .getElementById("feature_image")
          .src = radios[i]
          .dataset
          .img

  // Update image url for modal
          document
          .getElementById("feature_image_link")
          .href = radios[i]
          .dataset
          .img

  // Update active iamge for thumbnail
          document
          .getElementById("thumb_image")
          .src = radios[i].dataset.img

// only one radio can be logically checked, don't check the rest
        break;
      }
    }
  } else {

    document.querySelectorAll('.chngRadio')[0].checked = true

    document
      .querySelectorAll("label[for='" + document.querySelectorAll('.chngRadio')[0].id + "']")[0]
      .classList
      .add("selected")

      document
      .getElementById("feature_image")
      .src = document
      .querySelectorAll('.chngRadio')[0]
      .dataset
      .img


      document
      .getElementById("thumb_image")
      .src = document.querySelectorAll('.chngRadio')[0].dataset.img
  }

  var matches = document.querySelectorAll('.chngRadio');
  for (match in matches) {
    matches[match].onchange = function() {
      document.getElementById("variant_name").innerHTML = this.dataset.variant_title
      const currentURL = window.location.href;
      document.getElementById("feature_image").src = this
        .dataset
        .img
        document
        .getElementById("feature_image_link")
        .href = this
        .dataset
        .img
        document
        .getElementById("thumb_image")
        .src = this
        .dataset
        .img
        window
        .history
        .pushState("", "", "?variant=" + this.value)
      var selected = document.getElementsByClassName("selected");
      while (selected.length) 
        selected[0].classList.remove("selected")



      



      UIkit
        .slideshow("#image-slideshow")
        .show(0)



        document
        .querySelectorAll("label[for='" + this.id + "']")[0]
        .classList
        .add("selected")
    }
  }



// Quatity Selector
  let decrement = document.getElementById('custom-icon-minus');
  let increment = document.getElementById('custom-icon-plus');


  increment.addEventListener('click', adjustQuantity)
  decrement.addEventListener('click', adjustQuantity)



  function adjustQuantity() {
    console.log('test')
    let quantitySelector = document.getElementById('Quantity');
    let quantity = parseInt(quantitySelector.getAttribute('value'));
    if (this.classList.contains('js-qty__adjust--minus') && quantity > 1) {

      quantity = quantity - 1;
      quantitySelector.setAttribute('value', quantity);
    } else if (this.classList.contains('js-qty__adjust--plus') && quantity >= 1 && quantity < 10) {

      quantity = quantity + 1;
      quantitySelector.setAttribute('value', quantity);
    }
  }
</script>