{% include 'breadcrumb' %}
<div class="grid">
  <div class="grid-item large--two-thirds push--large--one-sixth">
    <h2>{{ page.title }}</h2>
    <h2 class="page-header"><span>COACHES ELITE</span></h2>
    <div class="container-row">
      <div class="coaches-elite-left">
        <a class="fancybox" rel="gallery1" href="//cdn.shopify.com/s/files/1/2459/7365/files/slider2.png?v=1508268156">
          <img src="//cdn.shopify.com/s/files/1/2459/7365/files/slider2.png?v=1508268156" width="100%" alt="" />
        </a>
        <div class="gallery-container-adj">
          <a class="fancybox" rel="gallery1" href="//cdn.shopify.com/s/files/1/2459/7365/files/4_leaf_bag_pic_for_website_large.jpg?v=1513090509">
            <div class="thumbnail-box-container pl-0">
              <div class="thumbnail-box" style="background-image: url(//cdn.shopify.com/s/files/1/2459/7365/files/4_leaf_bag_pic_for_website_large.jpg?v=1513090509);"></div>
            </div>
          </a>
          <a class="fancybox" rel="gallery1" href="//cdn.shopify.com/s/files/1/2459/7365/files/bag_picture_large.JPG?v=1513090535">
            <div class="thumbnail-box-container">
              <div class="thumbnail-box" style="background-image: url(//cdn.shopify.com/s/files/1/2459/7365/files/bag_picture_large.JPG?v=1513090535);"></div>
            </div>
          </a>
          <a class="fancybox" rel="gallery1" href="//cdn.shopify.com/s/files/1/2459/7365/files/FCA_bag_pic_large.jpg?v=1513090746">
            <div class="thumbnail-box-container">
              <div class="thumbnail-box" style="background-image: url(//cdn.shopify.com/s/files/1/2459/7365/files/FCA_bag_pic_large.jpg?v=1513090746);"></div>
            </div>
          </a>
          <a class="fancybox" rel="gallery1" href="//cdn.shopify.com/s/files/1/2459/7365/files/BayShore_2_large.jpeg?v=1513090411">
            <div class="thumbnail-box-container pr-0">
              <div class="thumbnail-box" style="background-image: url(//cdn.shopify.com/s/files/1/2459/7365/files/BayShore_2_large.jpeg?v=1513090411);"></div>
            </div>
          </a>
          <a class="fancybox" rel="gallery1" href="//cdn.shopify.com/s/files/1/2459/7365/files/holy_ghost_prep_large.jpg?v=1513096973">
            <div class="thumbnail-box-container pl-0">
              <div class="thumbnail-box" style="background-image: url(//cdn.shopify.com/s/files/1/2459/7365/files/holy_ghost_prep_large.jpg?v=1513096973);"></div>
            </div>
          </a>
          <a class="fancybox" rel="gallery1" href="//cdn.shopify.com/s/files/1/2459/7365/files/LBL_Lower_Bucks_Lacrosse_bag_pic_large.jpg?v=1513096992">
            <div class="thumbnail-box-container">
              <div class="thumbnail-box" style="background-image: url(//cdn.shopify.com/s/files/1/2459/7365/files/LBL_Lower_Bucks_Lacrosse_bag_pic_large.jpg?v=1513096992);"></div>
            </div>
          </a>
          <a class="fancybox" rel="gallery1" href="//cdn.shopify.com/s/files/1/2459/7365/files/Wolfpack_laxher_pack_large.jpg?v=1513097015">
            <div class="thumbnail-box-container">
              <div class="thumbnail-box" style="background-image: url(//cdn.shopify.com/s/files/1/2459/7365/files/Wolfpack_laxher_pack_large.jpg?v=1513097015);"></div>
            </div>
          </a>
          <a class="fancybox" rel="gallery1" href="//cdn.shopify.com/s/files/1/2459/7365/files/wolfpack_pic_in_Australia_large.jpg?v=1513097034">
            <div class="thumbnail-box-container pr-0">
              <div class="thumbnail-box" style="background-image: url(//cdn.shopify.com/s/files/1/2459/7365/files/wolfpack_pic_in_Australia_large.jpg?v=1513097034);"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="coaches-elite-right">
        <div class="contact-form-container coaches-elite-form">
          {% form 'contact' %}

            {% if form.posted_successfully? %}
              <p class="note form-success">{{ 'contact.form.post_success' | t }}</p>
            {% endif %} {% include 'form-errors-custom' %}

            <div id="contactFormWrapper">
              <h3><strong>* Your Personal Details</strong></h3>

              <label for="contactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
              <input type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required/>

              <label for="contactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
              <input type="text" id="contactFormName" name="contact[name]" placeholder="{{ 'contact.form.name' | t }}" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" required />

              <label for="contactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
              <input type="tel" id="contactFormPhone" name="contact[phone]" placeholder="{{ 'contact.form.phone' | t }}" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" required />

              <label for="contactFormTeam" class="hidden-label">{{ 'contact.form.team' | t }}</label>
              <input style="text-transform: uppercase;" type="text" id="contactFormTeam" name="contact[team]" placeholder="Team/Organization" required />
              
              <label for="contactFormTeamColor" class="hidden-label">{{ 'contact.form.color' | t }}</label>
              <input style="text-transform: uppercase;" type="text" id="contactFormTeamColor" name="contact[color]" placeholder="Team Colors" required />
              
              <label for="contactFormBagType" class="hidden-label">{{ 'contact.form.bag' | t }}</label>
              <select name="contact[bag]" class="team-order-select">
                <option value="" selected disabled hidden>Select Bag Type:</option>
                <option value="Mega Duffle" type="text">Mega Duffle</option>
                <option value="LaxPack" type="text">LaxPack</option>
                <option value="Equipment Bag" type="text">Equipment Bag</option>
                <option value="Laxpack Mini" type="text">Laxpack Mini</option>
              </select>

              <label for="contactFormAddress" class="hidden-label">{{ 'contact.form.address' | t }}</label>
              <input type="text" id="contactFormAddress" name="contact[address]" placeholder="Address"/>

              <label for="contactFormApt" class="hidden-label">{{ 'contact.form.apt' | t }}</label>
              <input type="text" id="contactFormApt" name="contact[apt]" placeholder="Apt/Suite Number"/>

              <label for="contactFormState" class="hidden-label">{{ 'contact.form.state' | t }}</label>
              <input type="text" id="contactFormState" name="contact[state]" placeholder="State"/>

              <label for="contactFormCountry" class="hidden-label">{{ 'contact.form.country' | t }}</label>
              <input type="text" id="contactFormCountry" name="contact[country]" placeholder="Country"/>

              <label for="contactFormCity" class="hidden-label">{{ 'contact.form.city' | t }}</label>
              <input type="text" id="contactFormCity" name="contact[city]" placeholder="City"/>

              <label for="contactFormZip" class="hidden-label">{{ 'contact.form.zip' | t }}</label>
              <input type="text" id="contactFormZip" name="contact[zip]" placeholder="Zip Code"/>

              <input type="submit" class="btn right" value="Signup Today!" />
            </div>

          {% endform %}

        </div>
      </div>
    </div>
    <div class="container-row coaches-elite-text">
      <div class="coaches-elite-left-small">
        {{ 'coaches-elite-large.png' | asset_url | img_tag }}
      </div>
      <div class="coaches-elite-right-large">
        <h1>Preferred Pricing for the Ultimate Lacrosse Bags with Coaches Elite</h1>
        <p>You give your all to help your team get ahead. At Laxgear, we think you deserve to be rewarded for that. Designed exclusively for coaches, teams, athletic departments and other team organizers, Laxgear’s Coaches Elite program gives you access to special perks. And it’s free to join!<span>&nbsp;</span><br><br>As a member, you’ll get the best prices for the best lacrosse bags on the market—plus other great benefits—for the life of the program, such as:</p>
        <ul>
          <li>Preferred pricing on all orders*</li>
          <li>No minimums on team orders for stock bags (Custom Factory Mega Duffel minimum – 12)</li>
          <li>Priority customer service</li>
          <li>Referral incentive: $100 discount off of your next order**</li>
          <li>Member-only advance emails about sales, special offers, giveaways and new products</li>
          <li>Factory Custom Mega Duffel orders must be placed and paid for in full by June 1st, 2015</li>
        </ul>
      </div>
    </div>
    <div class="container-row">
      <h1>What Other Coaches, Team Organizers, and Schools are Saying about Laxgear Bags:</h1>
        <blockquote>
          <p>"Thanks for the awesome product and customer service!"</p>
          <small><span>&nbsp;</span>Kate - Catholic Memorial</small>
        </blockquote>
        <blockquote>
          <p>"Your bags are the best in the country!"</p>
          <small><span>&nbsp;</span>Bobby Healy - Head coach, Salesianum</small>
        </blockquote>
        <blockquote>
          <p>"They look absolutely great. Definitely exceeded my expectations!"</p>
          <small><span>&nbsp;</span>Jay - Bulldogs Elite</small>
        </blockquote>
      	<div class="coaches-elite-text">
          <h1>Ready for some special treatment?<span>&nbsp;</span><span style="color: #000000;"><a title="Laxgear Team Sales" style="color: #000000;">Sign up</a></span><span>&nbsp;</span>for the Coaches Elite program today!</h1>
          <blockquote>
            <h4>* Discount Requirement</h4>
            <ul>
              <li>Orders must be paid in full at time of order</li>
            </ul>
            <h4>**Referral Requirement</h4>
            <ul>
              <li>Applies after referred team places an order</li>
            </ul>
          </blockquote>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function($) {
    $(".fancybox").fancybox();
  });
</script>
